<footer id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1 text-center">
                <ul class="list-inline">
                    <li>
                        <a href="http://facebook.com/davemilford"><i class="fa fa-facebook fa-fw fa-3x"></i></a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-send fa-fw fa-3x"></i></a>
                    </li>
                    <li>
                        <a href="http://ca.linkedin.com/in/davemilford"><i class="fa fa-linkedin fa-fw fa-3x"></i></a>
                    </li>
                    <li>
                        <a href="https://www.flickr.com/photos/asherian/sets/"><i class="fa fa-flickr fa-fw fa-3x"></i></a>
                    </li>
                </ul>
                <hr class="small">
                <p class="text-muted">Copyright &copy; Dave Milford 2015</p>
            </div>
        </div>
    </div>
</footer>