<div id="top" ng-include src="'partials/nav-header.html'"></div>
    <!-- Header -->
    <header id="top" class="header">
        <div class="text-vertical-center">
            <h1>Hello There</h1>
            <h3>I'm Dave Milford</h3>
            <br>
            <a href="#about" class="btn btn-dark btn-lg" du-smooth-scroll>Find Out More</a>
        </div>
    </header>

    <!-- About -->
    <section id="about" class="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>I'm an experienced developer, software architect, and leader.</h2>
                    <p class="lead">But I do other things, too: amateur photographer, music aficionado, and budding Scotch connoisseur.</p>
                </div>
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </section>

    <section class="call-to-action bg-primary">
        <div class="container container-fixed">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h3>Exceptional developers are not defined by their tools.</h3>
                    <p class="lead">But they have a very large toolbox.</p>
                </div>
            </div>
           <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="portfolio-item tilt">
                    	<div class="portfolio-item-details">
		                    <a href="#/whoami#top">
		                    	<img class="img-portfolio img-responsive" src="img/whoami2.jpg" alt="Who I Am">
		                        <div class="homepage-iam-text whoiam-text">
		                        	WHO<br/>I AM
		                    	</div>
		                    </a>
                    	</div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="portfolio-item tilt">
                        <div class="portfolio-item-details">
	                        <a href="#/whatdoido#top">
	                            <img class="img-portfolio img-responsive" src="img/whatido.jpg" alt="What I Do">
	                            <div class="homepage-iam-text whatido-text">
		                        	WHAT<br/>I DO
		                    	</div>
	                        </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.container -->
        </div>
    </section>

    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1 text-center">
                    <h4><strong>Dave Milford</strong>
                    </h4>
                    <br>
                    <ul class="list-inline">
                        <li>
                            <a href="http://facebook.com/davemilford"><i class="fa fa-facebook fa-fw fa-3x"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-send fa-fw fa-3x"></i></a>
                        </li>
                        <li>
                            <a href="http://ca.linkedin.com/in/davemilford"><i class="fa fa-linkedin fa-fw fa-3x"></i></a>
                        </li>
                        <li>
                            <a href="https://www.flickr.com/photos/asherian/sets/"><i class="fa fa-flickr fa-fw fa-3x"></i></a>
                        </li>
                    </ul>
                    <hr class="small">
                    <p class="text-muted">Copyright &copy; Dave Milford 2015</p>
                </div>
            </div>
        </div>
    </footer>
