<div id="top" class="navbar navbar-fixed-top" role="navigation" bs-navbar ng-controller="MenuCtrl">
  <div class="navbar-header">
    <a class="navbar-brand" href="#/home#about">Dave Milford</a>
  </div>
  <ul class="nav navbar-nav">
    <li data-match-route="/whoami" bs-dropdown="whoamidropdownlist" data-animation="am-fade-and-scale" data-html="true" data-trigger="click">
    	<a href="#/whoami">Who I Am <b class="caret"></b></a>
	</li>
    <li data-match-route="/whatdoido" bs-dropdown="whoamidropdownlist" data-animation="am-fade-and-scale" data-html="true" data-trigger="click"><a href="#/whatdoido">What I Do <b class="caret"></b></a></li>
  </ul>
</div>
