<div id="top" ng-include src="'partials/nav-header.html'"></div>

    <div id="wrapper" ng-controller="WhatDoIDoCtrl">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li>
                    <a href="#main" offset="30" du-smooth-scroll du-scrollspy>Top</a>
                </li>
                <li>
                    <a href="#philosophy" offset="30" du-smooth-scroll du-scrollspy>Philosophy</a>
                </li>
                <li>
                    <a href="#beginnings" offset="30" du-smooth-scroll du-scrollspy>Beginnings</a>
                </li>
                <li>
                    <a href="#toolbox" offset="30" du-smooth-scroll du-scrollspy>Toolbox</a>
                </li>
                <li>
                    <a href="#people" offset="30" du-smooth-scroll du-scrollspy>People</a>
                </li>
                <li>
                    <a href="#experience" offset="30" du-smooth-scroll du-scrollspy>Experience</a>
                </li>
                <li>
                    <a href="#contact" offset="30" du-smooth-scroll du-scrollspy>Contact</a>
                </li>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <!-- Top -->
                <div id="main" class="row">
                    <div class="col-md-12">
                        <section id="topsection" class="page-section full">
                            <div class="row ">
                                <div class="section-header col-md-offset-5 col-md-7 whitetextonimage">
                                    <h1>What I Do</h1>
                                </div>
                            </div>
                            <div class="row">
                                <div id="topsectiontext" class="col-md-offset-6 col-md-6 section-text whitetextwithshadow alternatelinkcolor">
                                    <p>
                                        I am a professional software developer in Calgary, Alberta.<br/>
                                        I have a B.Sc. in Computer Science (with a concentration in Software Engineering) from the 
                                        <a href="http://www.ucalgary.ca">University of Calgary</a>.
                                    </p>
                                    <br/>
                                    <p>
                                        Over a decade of professional software development experience.<br/>
                                        Two decades of total software development experience.<br/>
                                        Desktop. Mobile. Web. Server.
                                    </p>
                                    <br/>
                                    <p>
                                        Currently a Principal Software Developer at <a href="http://www.smarttech.com">SMART Technologies</a>.<br/>
                                    </p>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>

                <!-- Philosophy -->
                <div id="philosophy" class="row">
                    <div class="col-md-12">
                        <section id="philosophysection" class="page-section full">
                            <div class="row ">
                                <div class="section-header col-md-12 whitetext">
                                    <h1>Philosophy</h1>
                                </div>
                            </div>
                            <div class="row">
                                <div id="philosophysectiontext" class="col-md-offset-3 col-md-6 section-text whitetext">
                                    <p>
                                        Developers are problem solvers. The best problem solvers are those with the best understanding of the broadest set
                                        of problems. They have toolboxes that are packed with different solutions.  Different tools are advantageuous in different situations -- knowing what the tools can do, from experience, and knowing where to apply them is an invaluable skill.
                                    </p>
                                    <br/>
                                    <p>
                                        I don't like the phrase "jack of all trades", but it's probably the most accurate way to describe my skillset.  I don't want to stagnate with a single technology into my old age.  I also want to understand how the modern technology world works, which presses me into constantly evolving my skills.
                                    </p>
                                    <br/>
                                    <p>
                                        Too many times I've sat in rooms where developers evangelize their holy-grail toolset as the silver bullet to all problems.  So often it ends up driving projects off a cliff.  Be open minded -- explore what else is out there. 
                                    </p>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>


                <!-- Beginnings -->
                <div id="beginnings" class="row">
                    <div class="col-md-12">
                        <section id="beginningssection" class="page-section full">
                            <div class="row ">
                                <div class="section-header col-md-12">
                                    <h1>Beginnings</h1>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-offset-1 col-md-4">
                                    <img class="img-responsive roundedcorner" src="img/old-computer.jpg" alt="Old Computer"/>
                                </div>
                                <div id="beginningssectiontext" class="col-md-6 section-text blacktext">
                                    <p>
                                        I've been using a computer for as long as I can remember.  I remember logging into a BBS to download a patch for a game I was playing in 1992. It's just been a natural part of my life.
                                    </p>
                                    <br/>
                                    <p>
                                        In seventh grade, in the school library, a bunch of kids were playing with something that turned out to be BASIC. They could do things like type <code>PRINT "Hello World"</code> and the computer would do it. It intrigued me.  Around the same time, I really got into a form of online game called 
                                        <a href="http://en.wikipedia.org/wiki/MUD"  data-animation="am-flip-x" 
                                                                                    data-title="Multi-User Dungeon"
                                                                                    data-trigger="hover"
                                                                                    data-placement="bottom"
                                                                                    bs-tooltip>MUD</a> (or 
                                        <a href="http://en.wikipedia.org/wiki/MUSH" data-animation="am-flip-x" 
                                                                                    data-title="Multi-User Shared Hallucination"
                                                                                    data-trigger="hover"
                                                                                    data-placement="bottom"
                                                                                    bs-tooltip>
                                        MUSH</a>), a primitive early form of 
                                        <a href="http://en.wikipedia.org/wiki/Massively_multiplayer_online_role-playing_game" 
                                                                                    data-animation="am-flip-x" 
                                                                                    data-title="Massively Multiplayer Online Role-Playing Game"
                                                                                    data-trigger="hover"
                                                                                    data-placement="bottom"
                                                                                    bs-tooltip>MMORPG</a>. 
                                    </p>
                                    <br/>
                                    <p>
                                        At twelve years old, I had started programming.  At first it was simple stuff -- a bot that would greet people when they entered a room.  But as I got into it, I started developing more and more complex stuff in the game scripting language (which is similar to LUA).  
                                        <br/>
                                    </p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-8 section-text blacktext">
                                    <p>
                                        At one point, I ran my own game (coding it, hosting it, running it) which had over 1,000 registered players and 85 concurrent active users as a record.  I had coded a rather complex economy system in it, called GalacticEcon which other games then adopted.  Someone is <a href="http://mushcode.annelions.com/mushdepot/Economy/G-Econ2/" target="_blank">still hosting the code online</a>, for the curious.  
                                    </p>
                                    <br/>
                                    <p>
                                        Scripting code eventually became "hardcode", or <b>C++</b>.  I was 13 or 14 when that started, and I was fortunate to have a number of online mentors who did code reviews and helped me out.  I learned sometime later that I was practicing design patterns and used parts of C++ that most of my classmates in university had never used.  It was my first real programming language -- what a way to start.
                                    </p>
                                    <br/>
                                    <p>
                                        In ~1999, I was a co-admnistrator at a site called SidGames.com - a large community website for fans of Sid Meier's games.  That was my first foray into web development.  I learned <b>HTML</b>, <b>CSS</b>, and <b>Javascript</b>...although it was nothing like it was today.  Most of the programming was done in <b>ColdFusion</b>, where was had our own forum software and content management system. On the side, I did hardware reviews for the site (mainly to get the free video cards!).
                                    </p>
                                    <br/>
                                    <p>
                                        In high school, I continued working on the website and MUSH games outside of school.  I enrolled in all of the computer programming courses I could, including Computer Science IB, but didn't find them to be a challenge.  I had already learned all of the contents (and then some) on my own. It wasn't until second year university that I started actually learning some new concepts and techniques. 
                                    </p>
                                </div>
                                <div class="col-md-4 section-text blacktext hidden-xs">
                                    <!-- From: http://codepen.io/P233/pen/lGewF -->
                                    <ul id='timeline'>
                                      <li class='work'>
                                        <input class='radio' id='work5' name='works' type='radio' checked>
                                        <div class="relative">
                                          <label for='work5'>BASIC</label>
                                          <span class='date'>1995</span>
                                          <span class='circle'></span>
                                        </div>
                                        <div class='content'>
                                          <p>
                                          Used BASIC in the school library.
                                          </p>
                                        </div>
                                      </li>
                                      <li class='work'>
                                        <input class='radio' id='work4' name='works' type='radio'>
                                        <div class="relative">
                                          <label for='work4'>MUSHCode</label>
                                          <span class='date'>1996</span>
                                          <span class='circle'></span>
                                        </div>
                                        <div class='content'>
                                          <p>
                                            Developed games using in-game LUA-like scripting language.
                                          </p>
                                        </div>
                                      </li>
                                      <li class='work'>
                                        <input class='radio' id='work3' name='works' type='radio'>
                                        <div class="relative">
                                          <label for='work3'>C++</label>
                                          <span class='date'>1998</span>
                                          <span class='circle'></span>
                                        </div>
                                        <div class='content'>
                                          <p>
                                            Used C++ to implement MUSH features, plus other toy apps.
                                          </p>
                                        </div>
                                      </li>
                                      <li class='work'>
                                        <input class='radio' id='work2' name='works' type='radio'>
                                        <div class="relative">
                                          <label for='work2'>HTML/CSS/JS</label>
                                          <span class='date'>1999</span>
                                          <span class='circle'></span>
                                        </div>
                                        <div class='content'>
                                          <p>
                                            Co-owned SidGames.com.
                                          </p>
                                        </div>
                                      </li>
                                      <li class='work'>
                                        <input class='radio' id='work1' name='works' type='radio'>
                                        <div class="relative">
                                          <label for='work1'>ColdFusion</label>
                                          <span class='date'>2000</span>
                                          <span class='circle'></span>
                                        </div>
                                        <div class='content'>
                                          <p>
                                            Back-end for SidGames.com.
                                          </p>
                                        </div>
                                      </li>
                                      <li class='work'>
                                        <input class='radio' id='work6' name='works' type='radio'>
                                        <div class="relative">
                                          <label for='work6'>Java</label>
                                          <span class='date'>2001</span>
                                          <span class='circle'></span>
                                        </div>
                                        <div class='content'>
                                          <p>
                                            Used in University.
                                          </p>
                                        </div>
                                      </li>
                                    </ul>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>

                <!-- Toolbox -->
                <div id="toolbox" class="row">
                    <div class="col-md-12">
                        <section id="toolboxsection" class="page-section full">
                            <div class="row ">
                                <div class="section-header col-md-12 whitetext">
                                    <h1>Toolbox</h1>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-8 col-lg-offset-2 whitetext">
                                    <div class="row">
                                        <div class="col-lg-offset-2 col-lg-8 text-vertical-center">
                                            <h2>My Primary Tools</h2>
                                        </div>
                                    </div>
                                    <hr class="small">
                                    <div class="row">
                                        <div class="col-md-offset-2 col-md-3 col-sm-6">
                                            <div class="service-item">
                                                <span class="fa-stack fa-4x">
                                                    <img src="img/cpplogo.png" class="img-responsive" alt="C++"/>
                                                </span>
                                                <h4>
                                                    <strong>C++</strong>
                                                </h4>
                                                <p>Language I am most experienced with.</p>
                                                <a  class="btn btn-light" 
                                                    title="{{popover.title}}"
                                                    data-content="{{popover.content}}"
                                                    data-template="partials/popovers/cpp.html"
                                                    data-animation="am-flip-x"
                                                    data-auto-close="1"
                                                    data-html="true"
                                                    bs-popover>
                                                    Learn More</a>
                                            </div>
                                        </div>
                                        <div class="col-md-3 col-sm-6">
                                            <div class="service-item">
                                                <span class="fa-stack fa-4x">
                                                    <img src="img/html5logo.png" class="img-responsive" alt="HTML5"/>
                                                </span>
                                                <h4>
                                                    <strong>HTML5</strong>
                                                </h4>
                                                <p>Been developing for the web for a long time.</p>
                                                <a  class="btn btn-light" 
                                                    title="{{popover.title}}"
                                                    data-content="{{popover.content}}"
                                                    data-template="partials/popovers/html5.html"
                                                    data-animation="am-flip-x"
                                                    data-auto-close="1"
                                                    data-html="true"
                                                    bs-popover>
                                                    Learn More</a>
                                            </div>
                                        </div>
                                        <div class="col-md-3 col-sm-6">
                                            <div class="service-item">
                                                <span class="fa-stack fa-4x">
                                                    <img src="img/csharp.png" class="img-responsive" alt="C#"/>
                                                </span>
                                                <h4>
                                                    <strong>C#</strong>
                                                </h4>
                                                <p>Worked with C# a lot for Windows development.</p>
                                                <a  class="btn btn-light" 
                                                    title="{{popover.title}}"
                                                    data-content="{{popover.content}}"
                                                    data-template="partials/popovers/csharp.html"
                                                    data-animation="am-flip-x"
                                                    data-auto-close="1"
                                                    data-html="true"
                                                    bs-popover>
                                                    Learn More</a>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- /.row (nested) -->
                                    <div class="row">
                                        <div class="col-md-offset-2 col-md-3 col-sm-6">
                                            <div class="service-item">
                                                <span class="fa-stack fa-4x">
                                                    <img src="img/pythonlogo.png" class="img-responsive" alt="Python"/>
                                                </span>
                                                <h4>
                                                    <strong>Python</strong>
                                                </h4>
                                                <p>My go-to scripting language in many environments.</p>
                                                <a  class="btn btn-light" 
                                                    title="{{popover.title}}"
                                                    data-content="{{popover.content}}"
                                                    data-template="partials/popovers/python.html"
                                                    data-animation="am-flip-x"
                                                    data-auto-close="1"
                                                    data-html="true"
                                                    bs-popover>
                                                    Learn More</a>
                                            </div>
                                        </div>
                                        <div class="col-md-3 col-sm-6">
                                            <div class="service-item">
                                                <span class="fa-stack fa-4x">
                                                    <img src="img/objclogo.png" class="img-responsive" alt="Objective-C"/>
                                                </span>
                                                <h4>
                                                    <strong>Objective-C</strong>
                                                </h4>
                                                <p>Years of OS X &amp; iOS development.</p>
                                                <a  class="btn btn-light" 
                                                    title="{{popover.title}}"
                                                    data-content="{{popover.content}}"
                                                    data-template="partials/popovers/objc.html"
                                                    data-animation="am-flip-x"
                                                    data-auto-close="1"
                                                    data-html="true"
                                                    bs-popover>
                                                    Learn More</a>
                                            </div>
                                        </div>
                                        <div class="col-md-3 col-sm-6">
                                            <div class="service-item">
                                                <span class="fa-stack fa-4x">
                                                    <img src="img/javalogo.png" class="img-responsive" alt="Java"/>
                                                </span>
                                                <h4>
                                                    <strong>Java</strong>
                                                </h4>
                                                <p>Android apps, miscellaneous tooling.</p>
                                                <a  class="btn btn-light" 
                                                    title="{{popover.title}}"
                                                    data-content="{{popover.content}}"
                                                    data-template="partials/popovers/java.html"
                                                    data-animation="am-flip-x"
                                                    data-auto-close="1"
                                                    data-html="true"
                                                    bs-popover>
                                                    Learn More</a>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- /.row (nested) -->
                                </div>
                                <!-- /.col-lg-10 -->
                            </div>
                            <div class="row">
                                    <div class="col-lg-offset-2 col-lg-8 text-vertical-center whitetext">
                                            <h2>Other Tools</h2>
                                        </div>
                                    </div>
                                    <hr class="small">
                        </section>
                    </div>
                </div>


                <div id="contact" ng-include src="'partials/contact.html'"></div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->
