<div id="top" ng-include src="'partials/nav-header.html'"></div>

    <div id="wrapper" ng-controller="WhoAmICtrl">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li>
                    <a href="#bio" du-smooth-scroll du-scrollspy>Bio</a>
                </li>
                <li>
                    <a href="#geekery" du-smooth-scroll du-scrollspy>Geekery</a>
                </li>
                <li>
                    <a href="#photography" du-smooth-scroll du-scrollspy>Photography</a>
                </li>
                <li>
                    <a href="#music" du-smooth-scroll du-scrollspy>Music</a>
                </li>
                <li>
                    <a href="#life" du-smooth-scroll du-scrollspy>Life</a>
                </li>
                <li>
                    <a href="#contact" du-smooth-scroll du-scrollspy>Contact</a>
                </li>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <!-- Bio -->
                <div id="bio" class="row">
                    <div class="col-md-12">
                        <section id="whoamisection" class="page-section full">
                            <div class="row ">
                                <div class="section-header col-md-12 whitetextonimage">
                                    <h1>Who I Am</h1>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-offset-1 col-md-4">
                                    <img class="img-responsive" src="img/whoami.png" alt="My Picture"/>
                                </div>
                                <div id="whoiamsectiontext" class="col-md-7 section-text whitetext alternatelinkcolor">
                                    <p>
                                        A Canadian software developer by trade. <br/>
                                        Born and (mostly) raised in Calgary, Alberta, and currently residing there.<br/>
                                        As a child, I also lived for four years in Northern California.<br/>
                                        After university, I lived for five years in Toronto, Ontario.<br/>
                                    </p>
                                    <br/>
                                    <p>
                                        I attended the <a href="http://www.ucalgary.ca">University of Calgary</a>, 
                                        where I received a B.Sc. in Computer Science (with concentration in Software Engineering).
                                    </p>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>

                 <!-- Geekery -->
                <div id="geekery" class="row">
                    <div class="col-md-12">
                        <section id="geekerysection" class="page-section full">
                            <div id="geekerysectionheader">
                                <div class="row">
                                    <div class="section-header col-md-12 bluetextonimage">
                                        <h1>Geekery</h1><br/>
                                    </div>
                                </div>
                                <div class="row">
                                    <div id="alwaysbeenageek" class="col-md-4 col-md-offset-4 text-vertical-center">
                                        I've always been a geek. 
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div id="geekerysectiontext" class="col-md-offset-1 col-md-6 section-text blacktext">
                                    <p>
                                        I built legos, watched Star Trek, owned all the game consoles, built computers, and 
                                        even programmed as a kid. Always had that fascination with how things worked. I wanted
                                        to learn how to do it all.
                                    </p>
                                    <br/>
                                    <p>
                                        I'm a <b>builder</b>: I always want to make something.  It's not enough to play games, I need to
                                        make them too.  It's also how I learn -- I'm a hands-on learner and I want to learn by making.
                                        That's where this website came from - I wanted to learn a bunch of new technologies. And
                                        I didn't want to read about it.  I wanted to learn by building.
                                    </p>
                                    <br/>
                                    <p>
                                        But sometimes I just want to relax, too.  I'm a video gamer (still own all the consoles - plus the PC). 
                                        My Steam game collection has 191 games in it, though I've probably only played 10% of them (Steam sales...). 
                                        I love strategy (Civilization) and Grand Strategy (Paradox games), but sometimes I just want to unwind with 
                                        some more mindless games - Diablo III, Halo, Team Fortress 2, etc.
                                    </p>
                                </div>
                                <div class="col-md-4 vcenter">
                                    <img class="img-responsive roundedcorner" src="img/geek.jpg" alt="Legos"/>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>

                 <!-- Photography -->
                <div id="photography" class="row">
                    <div class="col-md-12">
                        <section id="photographysection" class="page-section full">
                            <div class="row ">
                                <div class="section-header col-md-12 whitetext">
                                    <h1>Photography</h1>
                                </div>
                            </div>
                            <div class="row">
                                <div id="photographysectiontext" class="col-md-offset-3 col-md-6 section-text whitetext">
                                    <p>
                                        I took a photography course in high school, borrowing my dad's 1980s-era Canon SLR, and I loved it.
                                        When I graduated from university, I bought a Canon digital SLR and have been shooting with it since.
                                    </p>
                                    <p>
                                        <center><a class="btn btn-default" href="https://www.flickr.com/photos/asherian/sets/" target="_blank">Check out my flickr profile</a></center>
                                    </p>
                                </div>
                            </div>
                            <div class="row">
                                <!-- Slideshow -->
                                <div class="container slider hidden-xs hidden-sm">
                                    <img ng-repeat="slide in slides" class="slide slide-animation nonDraggableImage"
                                         ng-swipe-right="nextSlide()" ng-swipe-left="prevSlide()"
                                         ng-hide="!isCurrentSlideIndex($index)" ng-src="{{slide.image}}">

                                    <a class="arrow prev" ng-click="nextSlide()"><i class="fa fa-arrow-left fa-fw fa-3x"></i></a>
                                    <a class="arrow next" ng-click="prevSlide()"><i class="fa fa-arrow-right fa-fw fa-3x"></i></a>
                                    <nav class="navi">
                                        <div class="wrapper">
                                            <ul class="dots">
                                                <li class="dot" ng-repeat="slide in slides">
                                                    <a ng-class="{'active':isCurrentSlideIndex($index)}"
                                                       ng-click="setCurrentSlideIndex($index);">{{slide.description}}</a></li>
                                            </ul>
                                        </div>
                                    </nav>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>

                <!-- Music -->
                <div id="music" class="row">
                    <div class="col-md-12">
                        <section id="musicsection" class="page-section full">
                            <div class="row ">
                                <div class="section-header col-md-12">
                                    <h1>Music</h1>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-offset-1 col-md-4">
                                    <img class="img-responsive roundedcorner" src="img/music-headphones.jpg" alt="I didn't draw this; don't know who did!"/>
                                </div>
                                <div id="musicsectiontext" class="col-md-6 section-text blacktext">
                                    <p>
                                        Music is a big part of my life.  Discovering new stuff, rediscovering the old stuff.  I'll spend a good 
                                        couple hours per day with music on, whether it's through my phone, in my car, at work, or on the couch with
                                        a vinyl playing.  (Yes, I have a small but growing vinyl collection -- you can blame my brother for introducing me to them). 
                                    </p>
                                    <br/>
                                    <p>
                                        As a kid, I took piano lessons for a number of years.  I'm also a self-taught guitar player, though I'm not
                                        any good.  I play acoustic -- feels more proper unless I've actually got a band to play in.  There aren't enough
                                        hours in the day to dedicate time to becoming good at it, but it's something that's on my bucket list. 
                                    </p>
                                    <br/>
                                    <p>
                                        I can get into most types of music, but I gravitate towards Alernative Rock and Indie Rock. 
                                    </p>
                                    <br/>
                                    <p>
                                        Some of my favourite bands:
                                    </p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <center>
                                        <div class="row">
                                            <div id="thenational" class="col-md-3 band blacktextonimage">
                                                The National
                                            </div>
                                            <div id="coldwarkids" class="col-md-3 band">
                                                Cold War Kids
                                            </div>
                                            <div id="florence" class="col-md-3 band">
                                                Florence + the Machine
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div id="altj" class="col-md-3 band">
                                                Alt-J
                                            </div>
                                            <div id="brokenbells" class="col-md-3 band">
                                                Broken Bells
                                            </div>
                                            <div id="thexx" class="col-md-3 band">
                                                The xx
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div id="metric" class="col-md-3 band">
                                                Metric
                                            </div>
                                            <div id="thekillers" class="col-md-3 band">
                                                The Killers
                                            </div>
                                            <div id="theblackkeys" class="col-md-3 band">
                                                The Black Keys
                                            </div>
                                        </div>
                                    </center>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>

                <!-- Life -->
                <div id="life" class="row">
                    <div class="col-md-12">
                        <section class="callout">
                            <div class="text-vertical-center">
                                <h1>Life</h1>
                            </div>
                        </section>
                    </div>
                </div>

                <div id="contact" ng-include src="'partials/contact.html'"></div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->
