<div id="top" ng-include src="'partials/nav-header.html'"></div>

    <div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li>
                    <a href="#bio" du-smooth-scroll>Bio</a>
                </li>
                <li>
                    <a href="#geekery" du-smooth-scroll>Geekery</a>
                </li>
                <li>
                    <a href="#photography" du-smooth-scroll>Photography</a>
                </li>
                <li>
                    <a href="#music" du-smooth-scroll>Music</a>
                </li>
                <li>
                    <a href="#life" du-smooth-scroll>Life</a>
                </li>
                <li>
                    <a href="#drink" du-smooth-scroll>Drink</a>
                </li>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper col-md-9 col-sm-7">
            <div class="container-fluid">
                <!-- WhoIAmHeader -->
                <div id="whoiamheader" class="row">
                    <div class="col-md-10">
                        <section class="callout">
                            <div class="text-vertical-center">
                                <h1>Who I Am</h1>
                            </div>
                        </section>
                    </div>
                </div>

                <!-- Bio -->
                <div id="bio" class="row">
                    <div class="col-md-10">
                        <section class="callout">
                            <div class="text-vertical-center">
                                <h1>Bio</h1>
                            </div>
                        </section>
                    </div>
                </div>

                 <!-- Geekery -->
                <div id="geekery" class="row">
                    <div class="col-md-10">
                        <section class="callout">
                            <div class="text-vertical-center">
                                <h1>Geekery</h1>
                            </div>
                        </section>
                    </div>
                </div>

                <!-- Photography -->
                <div id="photography" class="row">
                    <div class="col-md-10">
                        <section class="callout">
                            <div class="text-vertical-center">
                                <h1>Photography</h1>
                            </div>
                        </section>
                    </div>
                </div>

                <!-- Music -->
                <div id="music" class="row">
                    <div class="col-md-10">
                        <section class="callout">
                            <div class="text-vertical-center">
                                <h1>Music</h1>
                            </div>
                        </section>
                    </div>
                </div>

                <!-- Life -->
                <div id="life" class="row">
                    <div class="col-md-10">
                        <section class="callout">
                            <div class="text-vertical-center">
                                <h1>Life</h1>
                            </div>
                        </section>
                    </div>
                </div>

                <!-- Drink -->
                <div id="drink" class="row">
                    <div class="col-md-10">
                        <section class="callout">
                            <div class="text-vertical-center">
                                <h1>Drink</h1>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->
