<div id="top" ng-include src="'partials/nav-header.html'"></div>

    <div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li>
                    <a href="#bio" du-smooth-scroll du-scrollspy>Bio</a>
                </li>
                <li>
                    <a href="#geekery" du-smooth-scroll du-scrollspy>Geekery</a>
                </li>
                <li>
                    <a href="#photography" du-smooth-scroll du-scrollspy>Photography</a>
                </li>
                <li>
                    <a href="#music" du-smooth-scroll du-scrollspy>Music</a>
                </li>
                <li>
                    <a href="#life" du-smooth-scroll du-scrollspy>Life</a>
                </li>
                <li>
                    <a href="#drink" du-smooth-scroll du-scrollspy>Drink</a>
                </li>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <!-- Bio -->
                <div id="bio" class="row">
                    <div class="col-md-12">
                        <section id="whoamisectionheader" class="page-section full">
                            <div class="row ">
                                <div class="section-header col-md-12 whitetextonimage">
                                    <h1>Who I Am</h1>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-offset-1 col-md-4">
                                    <img class="img-responsive" src="img/whoami.png" alt="My Picture"/>
                                </div>
                                <div id="whoiamsectiontext" class="col-md-7 section-text alternatelinkcolor">
                                    <p>
                                        A Canadian software developer by trade. <br/>
                                        Born and (mostly) raised in Calgary, Alberta, and currently residing there.<br/>
                                        As a child, I also lived for four years in Northern California.<br/>
                                        After university, I lived for five years in Toronto, Ontario.<br/>
                                    </p>
                                    <br/>
                                    <p>
                                        I attended the <a href="http://www.ucalgary.ca">University of Calgary</a>, 
                                        where I received a B.Sc. in Computer Science (with concentration in Software Engineering).
                                    </p>
                                </div>
                        </div>
                        </section>
                    </div>
                </div>

                 <!-- Geekery -->
                <div id="geekery" class="row">
                    <div class="col-md-12">
                        <section class="callout">
                            <div class="text-vertical-center">
                                <h1>Geekery</h1>
                            </div>
                        </section>
                    </div>
                </div>

                <!-- Photography -->
                <div id="photography" class="row">
                    <div class="col-md-12">
                        <section class="callout">
                            <div class="text-vertical-center">
                                <h1>Photography</h1>
                            </div>
                        </section>
                    </div>
                </div>

                <!-- Music -->
                <div id="music" class="row">
                    <div class="col-md-12">
                        <section class="callout">
                            <div class="text-vertical-center">
                                <h1>Music</h1>
                            </div>
                        </section>
                    </div>
                </div>

                <!-- Life -->
                <div id="life" class="row">
                    <div class="col-md-12">
                        <section class="callout">
                            <div class="text-vertical-center">
                                <h1>Life</h1>
                            </div>
                        </section>
                    </div>
                </div>

                <!-- Drink -->
                <div id="drink" class="row">
                    <div class="col-md-12">
                        <section class="callout">
                            <div class="text-vertical-center">
                                <h1>Drink</h1>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->
