<div class="popover" tabindex="-1" ng-show="content">
  <div class="arrow"></div>
  <div class="popover-content blacktext">
    <div id="cpp-popover" class="row">
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-12">
            <center>
              <span class="bignumber">10</span><br/>
              years of experience
            </center>
          </div>
        </div>
        <div class="row language-info">
          <div class="col-md-12">
            <p>
              <b>Proficiency:</b>
              <span class="label label-success proficiency-level">Advanced</span><br/>
            </p>
            <p>
              <b>Pro Experience:</b>
              <span class="years-of-experience">5 years</span><br/>
            </p>
            <p>
              <b>Projects:</b> 
              Personal websites, WebOS apps, internal web apps, professional web properties.<br/>
            </p>
            <p>
              <b>Comments:</b>
              Yeah, so HTML5 didn't exist 10 years ago.  That number includes HTML4. :)<br/>
            </p>
          </div>
        </div>
      </div>
    </div>
   
    <div class="form-actions">
      <button type="button" class="btn btn-danger" ng-click="$hide()">Close</button>
    </div>
  </div>
</div>