<div class="popover" tabindex="-1" ng-show="content">
  <div class="arrow"></div>
  <div class="popover-content blacktext">
    <div id="cpp-popover" class="row">
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-12">
            <center>
              <span class="bignumber">7</span><br/>
              years of experience
            </center>
          </div>
        </div>
        <div class="row language-info">
          <div class="col-md-12">
            <p>
              <b>Proficiency:</b>
              <span class="label label-success proficiency-level">Expert</span><br/>
            </p>
            <p>
              <b>Pro Experience:</b>
              <span class="years-of-experience">4 years</span><br/>
            </p>
            <p>
              <b>Projects:</b> 
              School projects, utility tools (investment bank), Android apps (YP.ca, personal apps)<br/>
            </p>
            <p>
              <b>Comments:</b>
              It's great until you need to deal with the garbage collector.<br/>
            </p>
          </div>
        </div>
      </div>
    </div>
   
    <div class="form-actions">
      <button type="button" class="btn btn-danger" ng-click="$hide()">Close</button>
    </div>
  </div>
</div>