<div class="popover" tabindex="-1" ng-show="content">
  <div class="arrow"></div>
  <div class="popover-content blacktext">
    <div id="cpp-popover" class="row">
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-12">
            <center>
              <span class="bignumber">5</span><br/>
              years of experience
            </center>
          </div>
        </div>
        <div class="row language-info">
          <div class="col-md-12">
            <p>
              <b>Proficiency:</b>
              <span class="label label-primary proficiency-level">Intermediate</span><br/>
            </p>
            <p>
              <b>Pro Experience:</b>
              <span class="years-of-experience">5 years</span><br/>
            </p>
            <p>
              <b>Projects:</b> 
              iOS apps (YellowPages, SMART Notebook), desktop app (SMART Notebook)<br/>
            </p>
            <p>
              <b>Comments:</b>
              I'm still not the biggest fan of this language, but I'm proficient with it.<br/>
            </p>
          </div>
        </div>
      </div>
    </div>
   
    <div class="form-actions">
      <button type="button" class="btn btn-danger" ng-click="$hide()">Close</button>
    </div>
  </div>
</div>